<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2.0,minimum-scale=1,viewport-fit=cover">
    
    <title>로그인</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
        integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

    <!-- 사용자 지정 css -->
    <style>
        .form-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 800px;
        }

        .form-control {
            width: 350px;
        }

        .btn.btn-primary {
            width: 350px;
        }
    </style>
</head>

<body>
    <form action="/login" method="post">
        <div class="form-group">
            <h1 class="h3 mb-3 fw-normal"><a href="/"
                    style="text-decoration: none; color: black; text-align: center; display: block;">
                    TeamProject</a>
            </h1><br>
            <div id="loginError" style="display: none; color: white; font-weight: bold; font-size: 14px; background-color: red; margin-bottom: 10px;">
                로그인 정보가 일치하지 않습니다.
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="이메일 아이디" required>
                <div class="invalid-feedback">입력하신 이메일 아이디를 확인해주세요.</div>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호" autocomplete="off" required>
                <div class="invalid-feedback">비밀번호가 올바르지 않습니다.</div>
            </div><br>
            <button class="btn btn-primary" id="logBtn" type="submit">로그인</button><br>
            <h6><a href="/signup">회원가입</a></h6>
        </div>
    </form>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const loginBtn = document.querySelector('#logBtn');
            loginBtn.addEventListener('click', async function (e) {
                e.preventDefault();
                const email = document.querySelector('#email').value;
                const pw = document.querySelector('#pw').value;
                const formData = new FormData();
                formData.append("email", email);
                formData.append("pw", pw);
                const data = await fetch("/login", {
                    method: 'post',
                    body: formData
                });
                const res = await data.json();
                if (res.result == true) {
                    location.href = '/';
                } else {
                    loginError.style.display = 'block';
                }
            })
        });
    </script>
</body>


</html>