<!DOCTYPE html>123
<html lang="en">

<head>
    <title>회원가입</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
        integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

    <style>
        form.validation-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        }

        .form-control {
            width: 350px;
        }

        .btn.btn-primary {
            width: 350px;
        }
    </style>
</head>

<body>

    <form action="/signup" class="validation-form" method="post" novalidate>
        <h1 class="h3 mt-5 mb-3 fw-normal"><a href="/"
                style="text-decoration: none; color: black; text-align: center; display: block;">
                TeamProject</a>
        </h1><br>
        <div class="form-group">
            <label class="form-label mt-1" for="name">이름 *</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label class="form-label" for="email">이메일 *</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="invalid-feedback">올바른 이메일 형식을 입력해주세요.</div>
        </div>
        <div class="form-group">
            <label class="form-label" for="pw">비밀번호 *</label>
            <input type="password" class="form-control" id="pw" name="pw" required>
            <div class="invalid-feedback">비밀번호가 올바르지 않습니다.</div>
        </div>
        <div class="form-group">
            <label class="form-label" for="passwordConfirm">비밀번호 확인 *</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
            <div class="invalid-feedback">입력한 두 비밀번호가 일치하지 않습니다.</div>
        </div>
        <div class="form-group">
            <label class="form-label" for="phoneNum">휴대폰 번호 *</label>
            <input type="number" class="form-control" id="phoneNum" name="phoneNum" required>
            <div class="invalid-feedback">휴대폰 번호를 다시 확인해주세요.</div>
        </div>
        <div class="form-group">
            <label class="form-label" for="address" style="display: block;">주소 *</label>
            <input type="text" class="form-control" disabled="disabled" id="address_postcode" placeholder="우편번호"
                style="width: 220px; display: inline-block;" required>
            <button type="button" class="btn btn-dark" onclick="address_execDaumPostcode()">우편번호 찾기</button>
            <input type="text" class="form-control" id="address_address" name="address" placeholder="주소" required><br>
            <input type="text" class="form-control" id="address_detailAddress" placeholder="상세주소" required>
            <!-- <input type="text" class="form-control" id="address_extraAddress" placeholder="참고항목"> -->
        </div>
        <button class="btn btn-primary" type="submit">가입완료</button>
    </form>
    <script>
        // 이름 유효성 검사
        document.addEventListener("DOMContentLoaded", function () {
            let formName = document.getElementById("name")
            formName.addEventListener("input", function () {
                let userName = formName.value;
                let nameRegex = /^[가-힣a-zA-Z]{2,4}$/;
                if (nameRegex.test(userName)) {
                    formName.setCustomValidity("");
                } else {
                    formName.setCustomValidity(".reportValidity();부여하지 않으면 오류 메세지 반환 X");
                }
            })
        });

        // 이메일 유효성 검사 -통과-> 중복 검사
        document.addEventListener("DOMContentLoaded", function () {
            let formEmail = document.getElementById("email");
            formEmail.addEventListener("input", function () {
                let userEmail = formEmail.value;
                let emailRegex = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{3})$/;

                if (emailRegex.test(userEmail)) {
                    formEmail.setCustomValidity("");
                } else {
                    formEmail.setCustomValidity(
                        "유효하지 않은 이메일입니다.");
                }
                checkDuplicateId(userEmail);
            });

            async function checkDuplicateId(userEmail) {
                let email = document.getElementById("email").value;
                const data = 
                 fetch("/emailCheck?email=" + email);
                const res = await data.text();

                if (res === "유효하지 않은 이메일입니다.") {
                    formEmail.setCustomValidity("사용 불가");
                }
            }
        });

        // 비밀번호 유효성 검사, 입력한 두 비밀번호 일치확인
        // document.addEventListener("DOMContentLoaded", function () {
        //     let formPw = document.getElementById("pw");

        //     formPw.addEventListener("input", function () {
        //         let userPw = formPw.value;
        //         let pwRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}$/;

        //         if (pwRegex.test(userPw)) {
        //             formPw.setCustomValidity("");
        //         } else {
        //             formPw.setCustomValidity("최소 8자, 영문 대/소문자, 숫자, 특수문자를 포함해야 합니다.");
        //         }
        //         checkDuplicatePw(userPw);
        //         formPw.reportValidity();
        //     });

        //     passwordConfirm.addEventListener("input", function () {
        //         let pw = document.getElementById("pw").value;
        //         let pwConfirm = document.getElementById("passwordConfirm").value
        //         if (pw === pwConfirm) {
        //             passwordConfirm.setCustomValidity("");
        //         } else {
        //             passwordConfirm.setCustomValidity("두 비밀번호가 일치하지 않습니다.");
        //         }
        //     });

        // });

        // 휴대폰 번호 유효성 검사-통과 -> 중복 검사
        document.addEventListener("DOMContentLoaded", function () {
            let formPhoneNum = document.getElementById("phoneNum");
            formPhoneNum.addEventListener("input", function () {
                let userPhoneNum = formPhoneNum.value;
                let phoneNumRegex = /^01[0-9]-?[0-9]{3,4}-?[0-9]{4}$/;
                if (phoneNumRegex.test(userPhoneNum)) {
                    formPhoneNum.setCustomValidity("");
                } else {
                    formPhoneNum.setCustomValidity("유효하지 않은 휴대폰 번호입니다.");
                }
                checkDuplicatePhoneNum(userPhoneNum);
            })

            async function checkDuplicatePhoneNum(userPhoneNum) {
                const data = await fetch("/phoneNumCheck/phoneNum" + phoneNum)
                const res = await data.text();
                if (res === "휴대폰 번호를 다시 확인해주세요.") {
                    formPhoneNum.setCustomValidity("사용불가");
                }
            }
        });

        // 폼(회원가입) 제출 시 유효성 통과 -> 가입 / 미통과 -> 가입불가
        window.addEventListener('load', () => {
            const forms = document.getElementsByClassName('validation-form');

            Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    </script>

    <!-- 카카오맵(다음) 주소 bootstrap -->
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function address_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        //     document.getElementById("address_extraAddress").value = extraAddr;

                        // } else {
                        //     document.getElementById("address_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('address_postcode').value = data.zonecode;
                    document.getElementById("address_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("address_detailAddress").focus();
                }
            }).open();
        }
    </script>
</body>

</html>