<!doctype html>
<html lang="ko" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TEAM_PROJECT</title>

  <link href="/assets/css/star.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <style>
    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    #myform fieldset {
      display: inline-block;
      direction: rtl;
      border: 0;
    }

    #myform input[type=radio] {
      display: none;
    }

    #myform label {
      font-size: 1.45em;
      color: transparent;
      text-shadow: 0 0 0 #f0f0f0;
    }

    #myform label:hover {
      text-shadow: 0 0 0 red;
    }

    #myform label:hover~label {
      text-shadow: 0 0 0 red;
    }

    #myform input[type=radio]:checked~label {
      text-shadow: 0 0 0 red;
    }

    .font_size123 {
      font-size: 1.25em;
      margin-right: 10px;
    }

    .fieldset-margin {
      margin-right: 20px;
    }

    .rating-container {
      display: flex;
      align-items: center;
      height: 10px;
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="jumbotrons.css" rel="stylesheet">
</head>

<body>

  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1>Review Changes Page</h1>
      <br><br>
      <form class="mb-3" name="myform" id="myform" method="post" th:action="@{/store/change/{id}(id=${board.id})}"
        enctype="multipart/form-data">
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleFormControlInput1" th:value="${board.title}" name="title">
        </div>
        <br>

        <div class="rating-container">
          <span class="font_size123">가성비</span>
          <fieldset class="fieldset-margin">
            <input type="radio" name="costEffectiveness" value="5" id="rate1" required
              th:checked="${costEffectiveness == 5}"><label for="rate1">★</label>
            <input type="radio" name="costEffectiveness" value="4" id="rate2"
              th:checked="${costEffectiveness == 4}"><label for="rate2">★</label>
            <input type="radio" name="costEffectiveness" value="3" id="rate3"
              th:checked="${costEffectiveness == 3}"><label for="rate3">★</label>
            <input type="radio" name="costEffectiveness" value="2" id="rate4"
              th:checked="${costEffectiveness == 2}"><label for="rate4">★</label>
            <input type="radio" name="costEffectiveness" value="1" id="rate5"
              th:checked="${costEffectiveness == 1}"><label for="rate5">★</label>
          </fieldset>

          <span class="font_size123">맛/위생</span>
          <fieldset class="fieldset-margin">
            <input type="radio" name="quality" value="5" id="rate6" required th:checked="${quality == 5}"><label
              for="rate6">★</label>
            <input type="radio" name="quality" value="4" id="rate7" th:checked="${quality == 4}"><label
              for="rate7">★</label>
            <input type="radio" name="quality" value="3" id="rate8" th:checked="${quality == 3}"><label
              for="rate8">★</label>
            <input type="radio" name="quality" value="2" id="rate9" th:checked="${quality == 2}"><label
              for="rate9">★</label>
            <input type="radio" name="quality" value="1" id="rate10" th:checked="${quality == 1}"><label
              for="rate10">★</label>
          </fieldset>

          <span class="font_size123">서비스</span>
          <fieldset class="fieldset-margin">
            <input type="radio" name="service" value="5" id="rate11" required th:checked="${service == 5}"><label
              for="rate11">★</label>
            <input type="radio" name="service" value="4" id="rate12" th:checked="${service == 4}"><label
              for="rate12">★</label>
            <input type="radio" name="service" value="3" id="rate13" th:checked="${service == 3}"><label
              for="rate13">★</label>
            <input type="radio" name="service" value="2" id="rate14" th:checked="${service == 2}"><label
              for="rate14">★</label>
            <input type="radio" name="service" value="1" id="rate15" th:checked="${service == 1}"><label
              for="rate15">★</label>
          </fieldset>

          <span class="font_size123">독특함</span>
          <fieldset class="fieldset-margin">
            <input type="radio" name="unique" value="5" id="rate16" required th:checked="${unique == 5}"><label
              for="rate16">★</label>
            <input type="radio" name="unique" value="4" id="rate17" th:checked="${unique == 4}"><label
              for="rate17">★</label>
            <input type="radio" name="unique" value="3" id="rate18" th:checked="${unique == 3}"><label
              for="rate18">★</label>
            <input type="radio" name="unique" value="2" id="rate19" th:checked="${unique == 2}"><label
              for="rate19">★</label>
            <input type="radio" name="unique" value="1" id="rate20" th:checked="${unique == 1}"><label
              for="rate20">★</label>
          </fieldset>

          <span class="font_size123">대기시간</span>
          <fieldset class="fieldset-margin">
            <input type="radio" name="waitingTime" value="5" id="rate21" required
              th:checked="${waitingTime == 5}"><label for="rate21">★</label>
            <input type="radio" name="waitingTime" value="4" id="rate22" th:checked="${waitingTime == 4}"><label
              for="rate22">★</label>
            <input type="radio" name="waitingTime" value="3" id="rate23" th:checked="${waitingTime == 3}"><label
              for="rate23">★</label>
            <input type="radio" name="waitingTime" value="2" id="rate24" th:checked="${waitingTime == 2}"><label
              for="rate24">★</label>
            <input type="radio" name="waitingTime" value="1" id="rate25" th:checked="${waitingTime == 1}"><label
              for="rate25">★</label>
          </fieldset>
        </div>

        <div class="mb-3">
          <br>
          <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="10"
            th:text="${board.content}" required></textarea>
        </div>

        <div class="mb-3">
          <br>
          <input class="form-control" type="file" id="formFileMultiple" name="originName" accept="image/*" multiple>
          <br>

          <p style="font-weight: bold;">기존 파일:</p>
          <div th:each="fileAttach : ${fileAttachs}"
            style="display: flex; align-items: center; justify-content: space-between;">
            <p th:text="${fileAttach.originName}"></p>
            <a th:href="@{/store/delete/{id}(id=${fileAttach.id})}">
              <button class="btn btn-primary" type="button">삭제</button>
            </a>
          </div>
        </div>

        <hr>
        <button class="btn btn-primary" type="submit">수정 완료</button>

      </form>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <div th:replace="store/footer"></div>

</body>

</html>