<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container my-5">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <div class="container row gx-5">
                    <div class="container col-6">
                        <div>
                            <div class="container text-center">
                                <h2>음식점 이름</h2>
                                <br />
                                <div class="row row-cols-4">
                                    <div class="col">
                                        <img src="" alt="image" />
                                    </div>
                                </div>
                                <div>지도</div>
                            </div>
                        </div>
                    </div>
                    <div class="container col-6">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="row" colspan="3">제목</th>
                                        <th scope="col" colspan="1">작성자</th>
                                        <th scope="col" colspan="1">날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        th:each="board : ${list}"
                                        th:attr="id=${board.id}"
                                    >
                                        <th scope="row" colspan="3">
                                            <a
                                                th:href="@{/store/comment/{id}(id=${board.id})}"
                                                style="text-decoration: none"
                                                >[[${board.title}]]</a
                                            >
                                        </th>
                                        <td th:text="${board.user.name}"></td>
                                        <td
                                            th:text="${board.registrationDateBoard}"
                                        ></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
